:global(.menu-container) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    font-family: 'Roboto', sans-serif;

    &.left {
        transform: translateX(-100%);
    }

    &.active {
        transform: translateX(0%);
    }

    &.right {
        transform: translateX(100%);
    }
}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .menuArrow {
        color: #afafaf;
        transition: color 0.3s ease;
    }

    &:hover {
        background-color: #cbe9f9;

        .menuArrow {
            color: #000;
        }
    }

    &:active {
        background-color: #b2e0f8;
    }
}

.menuBackItem {
    display: flex;
    align-items: center;
    padding: 22px;
    color: #afafaf;
    font-size: 20px;
    background-color: #f6f6f6;

    .menuArrow {
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: #000;
        }
    }
}
